
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


:root{
 --colorGreen: #5AB963;
 --FontLF: "Libre Franklin", serif;
 --FontIBM: "IBM Plex Mono", serif;
}

*{
        box-sizing: border-box;
}

body, html{
    height: 100%;
}

a{
    text-decoration: none;
}

li{
    list-style: none;
}

ul, ol{
    margin: 0;
    padding: 0;
}

.container{
 max-width: 1185px;   
 margin: 0 auto;
}

.main-text {
    font-family: var(--FontLF);
    font-size: 24px;
    font-weight: 100px;
    color: #999;
    line-height: 150%;
}
.main-text span{
    color:black;
    font-weight: 700;
}

.link{
font-family: var(--FontIBM);
font-weight: 400;
font-size: 13px;
line-height: 164%;
text-transform: uppercase;
text-align: center;
color: #5ab963;
}
.btn {
    padding: 15px 30px;
    background-color: var(--colorGreen);
    border: 0;
    font-family: var(--FontLF);
    font-weight: 400;
    font-size: 16px;
    line-height: 187%;
    text-align: center;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    cursor: pointer;
    transition: transform 1.5s;
}
.btn:hover{
    transform: scale(1.3)

}