.service {
    margin-top: 117px;
}
.conainer {
}
.service__content {
}
.service__main-text {
    max-width: 507px;
}

.service__list {
display: flex;
margin-top: 54px;
gap: 19px;
}
.service__item {
    border: 1px solid #f7f7f7;
    padding: 51px 56px 109px 41px;
    box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.05);
}
.service__title {
font-family: var(--FontLF);
font-weight: 700;
font-size: 16px;
line-height: 150%;
color: #000;
padding-top: 30px;
padding-bottom: 13px;
}
.service__text {
    font-family: var(--FontIBM);
font-weight: 400;
font-size: 13px;
line-height: 185%;
color: #999;

}
.service__item>img{
  